---
import { education } from "../cv.json";
import EducationCard from "./EducationCard.astro";
---

<section>
   <div class="grid grid-cols-1 p-4 text-xl">
      <div>
         <h2 class="font-bold p-4 md: text-2xl">Education</h2>
      </div>

      <div class="p-5">
         <ol class="relative border-s border-gray-200 dark:border-zinc-800">
            {
               education.map((ed) => {
                  return (
                     <EducationCard
                        institution={ed.institution}
                        startDate={ed.startDate}
                        endDate={ed.endDate}
                        description={ed.description}
                        url={ed.url}
                     />
                  );
               })
            }
         </ol>
      </div>
   </div>
</section>
