---
import { experience } from "../cv.json";
import ExperienceCard from "./ExperienceCard.astro";
---

<section>
   <div class="grid grid-cols-1 p-4 text-xl">
      <div>
         <h2 class="font-bold p-4 md: text-2xl">Experience</h2>
      </div>

      <div class="p-5">
         <ol class="relative border-s border-gray-200 dark:border-zinc-800">
            {
               experience.map((exp) => {
                  return (
                     <ExperienceCard
                        name={exp.name}
                        endDate={exp.endDate}
                        summary={exp.summary}
                        position={exp.position}
                        url={exp.url}
                     />
                  );
               })
            }
         </ol>
      </div>
   </div>
</section>
