---
import { basics } from "../cv.json";

const { name, label, image, email, phone, location } = basics;
---

<section>
   <!-- PC
   <div class="bg-zinc-200 grid grid-cols-2 text-left p-4 text-zinc-900">
      <div>
         <h1 class="text-4xl p-4 font-bold md:text-6xl">{name}</h1>
         <h2 class="text-1xl p-4 font-medium md: text-2xl">{label}</h2>
      </div>
      <div class="m-auto sm:hidden">
         <figure class="p-4">
            <img src={image} class="rounded-full h-48" />
         </figure>
      </div>
   </div> -->

   <!-- Celular -->
   <div class="grid grid-cols-1 text-left p-4 text-zinc-900">
      <div>
         <h1 class="text-4xl font-bold md:text-6xl p-4">{name}</h1>
         <h2 class="text-1xl font-medium md: text-2xl p-4">{label}</h2>
         <h2 class="text-lg p-4 md:text-2xl">{location}</h2>
      </div>
   </div>

   <div class="grid grid-cols-1 text-xl text-left p-4">
      <h2 class="p-4">{email}</h2>
      <h2 class="p-4">{phone}</h2>
   </div>
</section>
