---
import { basics } from "../cv.json";
import Github from "./icons/Github.astro";
import LinkedIn from "./icons/LinkedIn.astro";
import Mail from "./icons/Mail.astro";
import Phone from "./icons/Phone.astro";
import WorldMap from "./icons/WorldMap.astro";

const { name, label, image, email, phone, location } = basics;
---

<section>
   <div class="grid grid-cols-1 text-left p-4 text-zinc-900 md:grid-cols-2">
      <div class="my-auto">
         <h1 class="text-4xl text-center font-bold md:text-6xl md:text-left p-4">{name}</h1>
      </div>
      <div class="">
         <figure class="justify-center p-4 flex md:justify-end ">
            <img src={image} class="rounded-full h-48" />
         </figure>
      </div>
      <div>
         <h2 class="text-1xl font-medium md: text-2xl p-4">{label}</h2>
         <span class="flex p-4">
            <div class="py-0.5">
               {
                  (
                     <a>
                        <WorldMap />
                     </a>
                  )
               }
            </div>
            <div>
               <h2 class="text-xl font-medium ml-2">
                  {location}
               </h2>
            </div>
         </span>

         <span class="flex flex-row p-4 space-x-4">
            {
               (
                  <a
                     href={basics.profiles[1].url}
                     target="_blank"
                     class="rounded p-1 border border-zinc-600 hover:border-zinc-200 hover:transition-all"
                  >
                     {" "}
                     <Github />
                  </a>
               )
            }
            {
               (
                  <a
                     href={basics.profiles[0].url}
                     target="_blank"
                     class="rounded p-1 border border-zinc-600 hover:border-zinc-200 hover:transition-all"
                  >
                     {" "}
                     <LinkedIn />
                  </a>
               )
            }
            {
               (
                  <a
                     href={`Email: ${email}`}
                     target="_blank"
                     class="rounded p-1 border border-zinc-600 hover:border-zinc-200 hover:transition-all"
                  >
                     {" "}
                     <Mail />
                  </a>
               )
            }
            {
               (
                  <a
                     href={`Phone: ${phone}`}
                     target="_blank"
                     class="rounded p-1 border border-zinc-600 hover:border-zinc-200 hover:transition-all"
                  >
                     {" "}
                     <Phone />
                  </a>
               )
            }
         </span>
      </div>
   </div>
</section>
