---
import { basics } from "../cv.json";

const { name, label, image, email, phone, url, location } = basics;

const { city, region } = location;
---

<section>
   <div class="bg-zinc-800 h-72 grid grid-cols-1 grid-rows-2">
      <h1 class="text-zinc-300 text-4xl m-auto md:text-6xl">{name}</h1>
      <h2 class="text-zinc-300 text-1xl m-auto md: text-2xl">{label}</h2>
   </div>
   <img src={image} />
   <h2>{email}</h2>
   <h2>{phone}</h2>
   <h2>{url}</h2>
   <h2>{city}</h2>
   <h2>{region}</h2>
</section>
